@{
    ViewData["Title"] = "Guitar Neck";

}

<h1>Guitar Neck</h1>
<div id="guitarneck-container">
    <svg id="neckSvg" width="1450" height="200">
        <rect id="fingerBoard" x="30" y="10" width="1450" height="180" fill="saddlebrown"></rect>
        <rect id="nut" x="20" y="10" width="20" height="180" fill="bone"></rect>
        <line class="fret" id="f1" x1="80" y1="10" x2="80" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f2" x1="140" y1="10" x2="140" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f3" x1="200" y1="10" x2="200" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f4" x1="260" y1="10" x2="260" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f5" x1="320" y1="10" x2="320" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f6" x1="380" y1="10" x2="380" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f7" x1="440" y1="10" x2="440" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f8" x1="500" y1="10" x2="500" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f9" x1="560" y1="10" x2="560" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f10" x1="620" y1="10" x2="620" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f11" x1="680" y1="10" x2="680" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f12" x1="740" y1="10" x2="740" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f13" x1="800" y1="10" x2="800" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f14" x1="860" y1="10" x2="860" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f15" x1="920" y1="10" x2="920" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f16" x1="980" y1="10" x2="980" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f17" x1="1040" y1="10" x2="1040" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f18" x1="1100" y1="10" x2="1100" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f19" x1="1160" y1="10" x2="1160" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f20" x1="1220" y1="10" x2="1220" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f21" x1="1280" y1="10" x2="1280" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f22" x1="1340" y1="10" x2="1340" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f23" x1="1400" y1="10" x2="1400" y2="190" stroke="silver" stroke-width="5"></line>
        <line class="fret" id="f24" x1="1460" y1="10" x2="1460" y2="190" stroke="silver" stroke-width="5"></line>
        <circle class="inlay" id="inlay3" cx="170" cy="100" r="5" fill="white"></circle>
        <circle class="inlay" id="inlay5" cx="290" cy="100" r="5" fill="white"></circle>
        <circle class="inlay" id="inlay7" cx="410" cy="100" r="5" fill="white"></circle>
        <circle class="inlay" id="inlay9" cx="530" cy="100" r="5" fill="white"></circle>
        <circle class="inlay" id="inlay12-1" cx="710" cy="50" r="5" fill="white"></circle>
        <circle class="inlay" id="inlay12-2" cx="710" cy="150" r="5" fill="white"></circle>
        <circle class="inlay" id="inlay15" cx="890" cy="100" r="5" fill="white"></circle>
        <circle class="inlay" id="inlay17" cx="1010" cy="100" r="5" fill="white"></circle>
        <circle class="inlay" id="inlay19" cx="1130" cy="100" r="5" fill="white"></circle>
        <circle class="inlay" id="inlay21" cx="1250" cy="100" r="5" fill="white"></circle>
        <circle class="inlay" id="inlay24-1" cx="1430" cy="50" r="5" fill="white"></circle>
        <circle class="inlay" id="inlay24-2" cx="1430" cy="150" r="5" fill="white"></circle>
        <line class="guitar_string" id="string0" x1="10" y1="25" x2="1490" y2="25" stroke="black" stroke-width="2"></line>
        <line class="guitar_string" id="string1" x1="10" y1="55" x2="1490" y2="55" stroke="black" stroke-width="2"></line>
        <line class="guitar_string" id="string2" x1="10" y1="85" x2="1490" y2="85" stroke="black" stroke-width="2"></line>
        <line class="guitar_string" id="string3" x1="10" y1="115" x2="1490" y2="115" stroke="black" stroke-width="2"></line>
        <line class="guitar_string" id="string4" x1="10" y1="145" x2="1490" y2="145" stroke="black" stroke-width="2"></line>
        <line class="guitar_string" id="string5" x1="10" y1="175" x2="1490" y2="175" stroke="black" stroke-width="2"></line>
    </svg>
</div>

<button id="btnAddString" onclick="addStringToNeck()">Add a String</button>
<button id="btnRempveString" onclick="removeStringFromNeck()">Add a String</button>

<p id="lastFret"></p>

<script>
    window.onload = function() {
        let _lastFret = adjustNeck();
        document.getElementById("lastFret").innerHTML = "Last fret: " + _lastFret;
    }
    window.onresize = function() {
        let _lastFret = adjustNeck();
        document.getElementById("lastFret").innerHTML = "Last fret: " + _lastFret;
    }
</script>