@{
    ViewData["Title"] = "Home Page";

}

<h1>Guitar Neck</h1>
<div>
    <div>
        <p>Resize the window to see the last visible fret</p>
    </div>
    <!-- <svg id="neckSvg" width="1500" height="200" xmlns="http://www.w3.org/2000/svg">
       
        <rect id="fingerBoard" x="20" y="10" width="1500" height="180" fill="saddlebrown" />
       
        <rect id="nut" x="20" y="10" width="20" height="180" fill="bone" />
       
        <line class="fret" id="f1" x1="100" y1="10" x2="100" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f2" x1="160" y1="10" x2="160" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f3" x1="220" y1="10" x2="220" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f4" x1="280" y1="10" x2="280" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f5" x1="340" y1="10" x2="340" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f6" x1="400" y1="10" x2="400" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f7" x1="460" y1="10" x2="460" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f8" x1="520" y1="10" x2="520" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f9" x1="580" y1="10" x2="580" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f10" x1="640" y1="10" x2="640" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f11" x1="700" y1="10" x2="700" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f12" x1="760" y1="10" x2="760" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f13" x1="820" y1="10" x2="820" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f14" x1="880" y1="10" x2="880" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f15" x1="940" y1="10" x2="940" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f16" x1="1000" y1="10" x2="1000" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f17" x1="1060" y1="10" x2="1060" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f18" x1="1120" y1="10" x2="1120" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f19" x1="1180" y1="10" x2="1180" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f20" x1="1240" y1="10" x2="1240" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f21" x1="1300" y1="10" x2="1300" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f22" x1="1360" y1="10" x2="1360" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f23" x1="1420" y1="10" x2="1420" y2="190" stroke="silver" stroke-width="5" />
        <line class="fret" id="f24" x1="1480" y1="10" x2="1480" y2="190" stroke="silver" stroke-width="5" />
       
        <circle id="inlay3" cx="190" cy="100" r="5" fill="white" />
        <circle id="inlay5" cx="310" cy="100" r="5" fill="white" />
        <circle id="inlay7" cx="430" cy="100" r="5" fill="white" />
        <circle id="inlay9" cx="550" cy="100" r="5" fill="white" />
        <circle id="inlay12a" cx="730" cy="50" r="5" fill="white" />
        <circle id="inlay12b" cx="730" cy="150" r="5" fill="white" />
        <circle id="inlay15" cx="910" cy="100" r="5" fill="white" />    
        <circle id="inlay17" cx="1030" cy="100" r="5" fill="white" />
        <circle id="inlay19" cx="1150" cy="100" r="5" fill="white" />
        <circle id="inlay21" cx="1270" cy="100" r="5" fill="white" />
        <circle id="inlay24a" cx="1450" cy="50" r="5" fill="white" />
        <circle id="inlay24b" cx="1450" cy="150" r="5" fill="white" />    
       
        <line id="string6" x1="10" y1="26" x2="1490" y2="26" stroke="black" stroke-width="2" />
        <line id="string5" x1="10" y1="56" x2="1490" y2="56" stroke="black" stroke-width="2" />
        <line id="string4" x1="10" y1="86" x2="1490" y2="86" stroke="black" stroke-width="2" />
        <line id="string3" x1="10" y1="116" x2="1490" y2="116" stroke="black" stroke-width="2" />
        <line id="string2" x1="10" y1="146" x2="1490" y2="146" stroke="black" stroke-width="2" />
        <line id="string1" x1="10" y1="176" x2="1490" y2="176" stroke="black" stroke-width="2" />
       
        <g id="sfg">
            <g id="fg" class="String1 Fret0 NoteE NoteSpellingE2 Octave2">
                <circle id="fingering" cx="10" cy="176" r="10" fill="red">
                </circle>
                <text id="noteSpelling" x="10" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">E2</text>
            </g>
            <g id="fg" class="String1 Fret1 NoteF NoteSpellingF2 Octave2">
                <circle id="fingering" cx="85" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="85" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">F2</text>
            </g>
            <g id="fg" class="String1 Fret2 NoteF# NoteSpellingF#2 Octave2">
                <circle id="fingering" cx="145" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="145" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">F#2</text>
            </g>
            <g id="fg" class="String1 Fret3 NoteG NoteSpellingG2 Octave2">
                <circle id="fingering" cx="205" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="205" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">G2</text>
            </g>
            <g id="fg" class="String1 Fret4 NoteG# NoteSpellingG#2 Octave2">
                <circle id="fingering" cx="265" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="265" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">G#2</text>
            </g>
            <g id="fg" class="String1 Fret5 NoteA NoteSpellingA2 Octave2">
                <circle id="fingering" cx="325" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="325" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">A2</text>
            </g>
            <g id="fg" class="String1 Fret6 NoteA# NoteSpellingA#2 Octave2">
                <circle id="fingering" cx="385" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="385" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">A#2</text>
            </g>
            <g id="fg" class="String1 Fret7 NoteB NoteSpellingB2 Octave2">
                <circle id="fingering" cx="445" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="445" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">B2</text>
            </g>
            <g id="fg" class="String1 Fret8 NoteC NoteSpellingC3 Octave3">
                <circle id="fingering" cx="505" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="505" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">C3</text>
            </g>
            <g id="fg" class="String1 Fret9 NoteC# NoteSpellingC#3 Octave3">
                <circle id="fingering" cx="565" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="565" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">C#3</text>
            </g>
            <g id="fg" class="String1 Fret10 NoteD NoteSpellingD3 Octave3">
                <circle id="fingering" cx="625" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="625" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">D3</text>
            </g>
            <g id="fg" class="String1 Fret11 NoteD# NoteSpellingD#3 Octave3">
                <circle id="fingering" cx="685" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="685" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">D#3</text>
            </g>
            <g id="fg" class="String1 Fret12 NoteE NoteSpellingE3 Octave3">
                <circle id="fingering" cx="745" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="745" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">E3</text>
            </g>
            <g id="fg" class="String1 Fret13 NoteE NoteSpellingF3 Octave3">
                <circle id="fingering" cx="805" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="805" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">F3</text>
            </g>
            <g id="fg" class="String1 Fret14 NoteF# NoteSpellingF#3 Octave3">
                <circle id="fingering" cx="865" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="865" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">F#3</text>
            </g>
            <g id="fg" class="String1 Fret15 NoteG NoteSpellingG3 Octave3">
                <circle id="fingering" cx="925" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="925" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">G3</text>
            </g>
            <g id="fg" class="String1 Fret16 NoteG# NoteSpellingG#3 Octave3">
                <circle id="fingering" cx="985" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="985" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">G#3</text>  
            </g>
            <g id="fg" class="String1 Fret17 NoteA NoteSpellingA3 Octave3">
                <circle id="fingering" cx="1045" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="1045" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">A3</text>
            </g>
            <g id="fg" class="String1 Fret18 NoteA# NoteSpellingA#3 Octave3">
                <circle id="fingering" cx="1105" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="1105" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">A#3</text>
            </g>
            <g id="fg" class="String1 Fret19 NoteB NoteSpellingB3 Octave3">
                <circle id="fingering" cx="1165" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="1165" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">B3</text>
            </g>
            <g id="fg" class="String1 Fret20 NoteC NoteSpellingC4 Octave4">
                <circle id="fingering" cx="1225" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="1225" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">C4</text>
            </g>
            <g id="fg" class="String1 Fret21 NoteC# NoteSpellingC#4 Octave4">
                <circle id="fingering" cx="1285" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="1285" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">C#4</text>
            </g>
            <g id="fg" class="String1 Fret22 NoteD NoteSpellingD4 Octave4">
                <circle id="fingering" cx="1345" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="1345" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">D4</text>
            </g>
            <g id="fg" class="String1 Fret23 NoteD# NoteSpellingD#4 Octave4">
                <circle id="fingering" cx="1405" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="1405" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">D#4</text>
            </g>
            <g id="fg" class="String1 Fret24 NoteE NoteSpellingE4 Octave4">
                <circle id="fingering" cx="1465" cy="176" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="1465" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="179">E4</text>
            </g>        
        </g>
        <g id="sfg">            
            <g id="fg" class="String2 Fret0 NoteA NoteSpellingA2 Octave2">
                <circle id="fingering" cx="10" cy="146" r="10" fill="red">
                </circle>
                <text id="noteSpelling" x="10" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="149">A2</text>
            </g>
            <g id="fg" class="String2 Fret1 NoteA# NoteSpellingA#2 Octave2">
                <circle id="fingering" cx="85" cy="146" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="85" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="149">A#2</text>
            </g>
            <g id="fg" class="String2 Fret2 NoteB NoteSpellingB2 Octave2">
                <circle id="fingering" cx="145" cy="146" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="145" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="149">B2</text>
            </g>
            <g id="fg" class="String2 Fret3 NoteC NoteSpellingC3 Octave3">
                <circle id="fingering" cx="205" cy="146" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="205" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="149">C3</text>
            </g>
            <g id="fg" class="String2 Fret4 NoteC# NoteSpellingC#3 Octave3">
                <circle id="fingering" cx="265" cy="146" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="265" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="149">C#3</text>
            </g>
            <g id="fg" class="String2 Fret5 NoteD NoteSpellingD3 Octave3">
                <circle id="fingering" cx="325" cy="146" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="325" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="149">D3</text>
            </g>
            <g id="fg" class="String2 Fret6 NoteD# NoteSpellingD#3 Octave3">
                <circle id="fingering" cx="385" cy="146" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="385" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="149">D#3</text>
            </g>
            <g id="fg" class="String2 Fret7 NoteE NoteSpellingE3 Octave3">
                <circle id="fingering" cx="445" cy="146" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="445" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="149">E3</text>
            </g>
            <g id="fg" class="String2 Fret8 NoteF NoteSpellingF3 Octave3">
                <circle id="fingering" cx="505" cy="146" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="505" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="149">F3</text>
            </g>
            <g id="fg" class="String2 Fret9 NoteF# NoteSpellingF#3 Octave3">
                <circle id="fingering" cx="565" cy="146" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="565" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="149">F#3</text>
            </g>
            <g id="fg" class="String2 Fret10 NoteG NoteSpellingG3 Octave3">
                <circle id="fingering" cx="625" cy="146" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="625" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="149">G3</text>
            </g>
            <g id="fg" class="String2 Fret11 NoteG# NoteSpellingG#3 Octave3">
                <circle id="fingering" cx="685" cy="146" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="685" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="149">G#3</text>
            </g>
            <g id="fg" class="String2 Fret12 NoteA NoteSpellingA3 Octave3">
                <circle id="fingering" cx="745" cy="146" r="10" fill="red">
                </circle>            
                <text id="noteSpelling" x="745" text-anchor="middle" fill="white" stroke-width="0px" dy=".1em" y="149">A3</text>
            </g>
        </g>
    </svg>
</div> -->
<p id="lastFret"></p>
<form method="post">
    <input type="submit" value="Submit" />

    <label for="fingeringString">String</label>
    <input type="number" name="fingeringString" id="fingeringString" value="1" min=1 max=6 />

    <label for="fingeringFret">Fret</label>
    <input type="number" name="fingeringFret" id="fingeringFret" value="0" min=0 max=24 />
</form>


<script>
    // Function to get the last visible fret
    function lastVisibleFret() {
        var frets = document.querySelectorAll('line.fret');

        var lastFret = frets[0];
        for (var i = 1; i < frets.length; i++) {
            if (frets[i].getAttribute('x1') < (window.innerWidth - 50)){
                lastFret = frets[i];
            }
        }
        return lastFret.getAttribute('id');
    }

    // Function to adjust the SVG based on the window width
    function adjustSvg() {
        var svg = document.getElementById('neckSvg');
        var rect = document.getElementById('fingerBoard');
        var pageWidth = window.innerWidth;

        // Example: Adjust the rectangle width based on the page width     
        svg.setAttribute('width', pageWidth - 50);
        var newFingerBoardWidth = pageWidth - 70; 
        rect.setAttribute('width', newFingerBoardWidth);
        document.getElementById("lastFret").innerText = lastVisibleFret();
    }

    // Adjust on load and on window resize
    function createGuitarNeckSVG() {
        // Create the SVG element
        const svgNS = "http://www.w3.org/2000/svg";
        let svg = document.createElementNS(svgNS, "svg");
        svg.setAttribute("id", "neckSvg");
        svg.setAttribute("width", "1500");
        svg.setAttribute("height", "200");
        // svg.setAttributeNS(null, "xmlns", svgNS);

        let svgStringCount = 7;

        // Guitar neck
        let fingerBoard = document.createElementNS(svgNS, "rect");
        fingerBoard.setAttribute("id", "fingerBoard");
        fingerBoard.setAttribute("x", "20");
        fingerBoard.setAttribute("y", "10");
        fingerBoard.setAttribute("width", "1500");
        fingerBoard.setAttribute("height", "180");
        fingerBoard.setAttribute("fill", "saddlebrown");
        svg.appendChild(fingerBoard);

        // Nut
        let nut = document.createElementNS(svgNS, "rect");
        nut.setAttribute("id", "nut");
        nut.setAttribute("x", "20");
        nut.setAttribute("y", "10");
        nut.setAttribute("width", "20");
        nut.setAttribute("height", "180");
        nut.setAttribute("fill", "bone");
        svg.appendChild(nut);

        // Frets
        for (let i = 1; i <= 24; i++) {
            let fret = document.createElementNS(svgNS, "line");
            fret.setAttribute("class", "fret");
            fret.setAttribute("id", `f${i}`);
            fret.setAttribute("x1", 20 + 60 * i);
            fret.setAttribute("y1", "10");
            fret.setAttribute("x2", 20 + 60 * i);
            fret.setAttribute("y2", "190");
            fret.setAttribute("stroke", "silver");
            fret.setAttribute("stroke-width", "5");
            svg.appendChild(fret);
        }

        // Inlays
        const inlays = [3, 5, 7, 9, 12, 15, 17, 19, 21, 24];
        inlays.forEach((inlay, index) => {
            let circle = document.createElementNS(svgNS, "circle");
            circle.setAttribute("id", `inlay${inlay}`);
            circle.setAttribute("cx", 20 + 60 * inlay - (inlay === 12 || inlay === 24 ? 0 : 30));
            circle.setAttribute("cy", inlay === 12 || inlay === 24 ? "50" : "100");
            circle.setAttribute("r", "5");
            circle.setAttribute("fill", "white");
            svg.appendChild(circle);
            if (inlay === 12 || inlay === 24) {
            let circle2 = circle.cloneNode();
            circle2.setAttribute("cy", "150");
            svg.appendChild(circle2);
            }
        });

        // Strings
        for (let i = 1; i <= svgStringCount; i++) {
            let string = document.createElementNS(svgNS, "line");     
            let fbHeight = fingerBoard.getAttribute("height");                                    
            let stringOffset = fbHeight / svgStringCount;
            let startOffset = stringOffset / svgStringCount;

            console.log(startOffset);
            string.setAttribute("id", `string${i}`);
            string.setAttribute("x1", 10);
            string.setAttribute("y1", (stringOffset * i) - startOffset);
            string.setAttribute("x2", 1490);
            string.setAttribute("y2", (stringOffset * i) - startOffset);
            string.setAttribute("stroke", "black");
            string.setAttribute("stroke-width", "2");
            svg.appendChild(string);
        }

        // Append the SVG to the body or specific element
        document.body.appendChild(svg);
    }

    window.onload = createGuitarNeckSVG();

    // window.onload = adjustSvg;
    // window.onresize = adjustSvg;     
</script>


